.header-menu
  %ul.menu-content
    %li.menu-content__title
      フリーマーケット
      = icon('fas', 'chevron-right')
    %li.menu-content__mypage
      マイページ
      = icon('fas', 'chevron-right')
    %li.menu-content__logout
      ログアウト