.logout-main
  .logout-box
    %form.logtout
      .logput-button
        = link_to destroy_user_session_path, method: :delete do
          = button_tag "ログアウト", class: "logout_submit_button", type: "submit"