.header-address
  %h1 
    =image_tag "fmarket_logo.png",size: '125x36',alt:"fmarket"
  %nav.registration-box
    %ul.registration-procedure
      %li.information-user
        会員情報
        .information-progress-status
          .information-progress-status__bar
      %li.phone
        電話番号認証
        .phone-progress-status
        .phone-progress-status__bar
      %li.address
        住所入力
        .address-progress-status
          .address-progress-status__bar
      %li.payment
        支払い方法
        .payment-progress-status
        .payment-progress-status__bar
      %li.complete
        完了
        .complete-progress-status
        .complete-progress-status__bar