.complete-main
  %section.complete-container
    %h2 会員登録完了
  %form.complete-text
    .complete-text__box
      .complete-text__contents
        %p ありがとうございます。
        %p 会員登録が完了しました。
        %button.purchase{type:"submit"} フリマアプリをはじめる