.phone-main {
  width: 700px;
  margin: 0 auto;
  background: #FFF;
  font-size: 14px;
}
.phone-container {
  h2 {
    font-size: 22px;
    padding: 32px;
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
    line-height: 1.4;
    font-weight: bold;
  }
}
.phone-contents {
  padding: 24px 16px 40px;
  border-top: 1px solid #f5f5f5;
  background: #FFF;
.phone-box-content {
  max-width: 343px;
  margin: 0 auto;
  &__number {
    margin: 0;
  }
  label {
    font-weight: 600;
    display: inline-block;
  }
 }
}
.phone-number {
  textarea.phone-number {
    width: 100%;
    margin: 8px 0 0;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
    input.btn.phone {
      margin: 24px 0 0;
      background: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
    }
  }
  p {
    margin: 8px 0 0;
    line-height: 1.5;
  }
}
.phone-check {
  margin: 24px 0 0;
  text-align: right;
  p {
    color: #0099e8;
    text-decoration: none;
    display: inline-block;
  }
  i {
    color: #0099e8;
  }
}