.signup-main
  %section.signup-main__header
    %h2 新規会員登録
  .signup-main__box
    .signup-main__form
      %button.mailaddress{type:"submit"} メールアドレスで登録する 
      %i= icon('far','envelope')
      %button.Facebook{type:"submit"} Facebookで登録する
      %i= icon('fab', 'facebook-square')
      %button.Google{type:"submit"} Googleで登録する
      %i= icon('fab', 'google')