.logout-main {
  float: right;
  width: 700px;
  margin: 0;
  background: #fff;
  height: 160px;
  .logput-button {
    max-width: 320px;
    margin: 0 auto;
    margin-top: 50px;
    .logouturl{
      text-decoration: none;
    }
    .logout_submit_button {
      background: #ea352d;
      width: 100%;
      font-size: 18px;
      display: block;
    }
  }
}



