* {
  box-sizing: border-box;
}

.profile-contents {
  width: 700px;
  height: 580px;
  margin-left: 40px;
  margin-top: 20px;
  &--header {
    height: 50px;
    padding-top: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    background-color: lightblue;
  }
  .profile-contents-nameform{
    height: 156px;
    background-color: greenyellow;
    position: relative;
    &--contents{
      width: 500px;
      height: 45px;
    }
    .fas.fa-user-circle{
      font-size: 32px;
      color: white;
      height: 45px;
      width: 40px;
      margin-top: 80px;
      margin-left: 180px;
      padding-top: 5px;
      padding-left: 5px;
      background-color: gray;
    }
    .name-default{
      height: 45px;
      margin-left: 8px;
      font-size: 23px;
      padding-top: 3px;
    }
  }
  .profile-contents-textcontents{
    height: 340px;
    background-color: lightblue;
    .textarea-default{
      width: 670px;
      height: 220px;
    }
    &--change{
      width: 670px;
      height: 50px;
      padding-top: 13px;
      margin-top: 10px;
      background-color: red;
      text-align: center;
      color: white;
    }
  }
}