.registration-screen
  .header-phone
    %h1 
      =image_tag "fmarket_logo.png",size: '125x36',alt:"fmarket"
    %nav.registration-box
      %ul.registration-procedure
        %li.information-user
          会員情報
          .information-progress-status
            .information-progress-status__bar6
        %li.phone
          電話番号認証
          .phone-progress-status
          .phone-progress-status__bar7
        %li.address
          住所入力
          .address-progress-status
            .address-progress-status__bar8
        %li.complete
          完了
          .complete-progress-status
          .complete-progress-status__bar10
  .phone-box
    .phone-main
      %section.phone-container
        %h2 電話番号の確認
      .phone-contents
        .phone-box-content
          .phone-box-content__number
          %label 携帯電話の番号
          .phone-number
          = form_for(@phone, url: new_address_registrations_path, method: :get) do |f|
            = f.text_field :phone_number, placeholder: '携帯電話の番号を入力'
            %p 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
            = f.submit "次へ進む", class: 'btn phone'
          %p ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
          .phone-check
            %p 電話番号の確認が必要な理由
            = icon('fas', 'chevron-right')
  .footer-registration-box 
    %ul.footer-registration-box-content
      %li.footer-registration-box-content__list
        %a プライバシーポリシー
      %li.footer-registration-box-content__list
        %a フリマアプリ利用規約
      %li.footer-registration-box-content__list
        %a 特定商取引に関する表記
    .footer-registration-box-content__icon
      =image_tag "fmarket_logo_white.png",alt:"fmarket"