.header-menu {
  position: relative;
  border-top: 1px solid #eee;
  background: #fff;
  display: inline-block;
  font-size: 14px;
  line-height: 1.2;
}
.menu-content {
  width: 1020px;
  padding: 16px 0;
  margin: 0 auto;
  color: #888;
  
}
.breadcrumbs {
  a {
    text-decoration: none;
    color: #888;
  }
}