.header-menu {
  position: relative;
  border-top: 1px solid #eee;
  background: #fff;
  display: inline-block;
  font-size: 14px;
  line-height: 1.2;
}

.menu-contents {
  width: 1020px;
  padding: 16px 0;
  margin: 0 auto;
    
}

.menu-content__title {
  display: inline-block;
  font-size: 14px;
  line-height: 1.2;
  i {
    margin: 0 8px;
    font-size: 9px;
    color: #888;
  }
}

.menu-content__mypage {
  display: inline-block;
  font-size: 14px;
  line-height: 1.2;
  i {
    margin: 0 8px;
    font-size: 9px;
    color: #888;
  }
}

.menu-content__mypage {
  display: inline-block;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
}