.camera{
  border-radius: 50%;
  bottom: 32px;
  height: 160px;
  right: 32px;
  width: 160px;
  position: fixed;
  background-color: red;
  color: white;
  display: block;
  z-index: 1;
  text-decoration: none;
  &--contents{
    font-size: 22px;
    margin-top: 25px;
    margin-left: 58px;
  }
  .fa-camera{
    font-size: 60px;
    margin-left: 50px;
    text-decoration: none;
  }
}