%section.main-contents
  .pay
    %h2 支払い方法
    %section.credit-card
      %h3 クレジットカード一覧
      %section.credit-card__add_to
        .credit-card__add_to__content
          = icon('fas', 'credit-card')
          %btn クレジットカードを追加する
      .credit-card__pay
        %a.credit-card__pay__method
          %span 支払い方法について
          = icon('fas', 'chevron-right')