.product-page
  .fmarket_logo
    =image_tag "#{asset_path "fmarket_logo.png"}",size: '185x55',alt:"fmarket"

  .sellcontents
    .sellcontents-pict
      .sellcontents-pict-form
        .sellcontents-pict-form--name
          出品画像
        .sellcontents-pict-form--hissu
          必須
        .sellcontents-pict-form--upload
          最大4枚までアップロードできます
        .sellcontents-pict-form-file
          %i.fas.fa-camera
          .camera-text
            ドラッグアンドドロップ
          .camera-text2
            またはクリックしてファイルをアップロード
    .product-status
      .product-status-nameform
        .product-status-nameform--name
          商品名
        .product-status-nameform--hissu
          必須
        %input.name-form{autocomplete:"off",name:"name",placeholder:"40文字まで",type:"text",value:""}/

      .product-status-textform
        .product-status-nameform--name
          商品の説明
        .product-status-nameform--hissu
          必須
        %textarea.statusform{autocomplete:"off",name:"name",type:"text",placeholder:"商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。\n          ",value:""}
  
    .product-detail
      .product-detail-form
        .product-detail-form--head
          商品の詳細
        .product-detail-form--name
          カテゴリー
        .product-detail-form--hissu
          必須
        .product-detail-form--tab
          %select{name:"categoryId"}
            %option{"aria-selected" => "true",label:"選択してください",selected:"selected",value:""} 選択してください
            %option{"aria-selected" => "false",label:"レディース",value:"1"} レディース
            %option{"aria-selected" => "false",label:"メンズ",value:"2"} メンズ
            %option{"aria-selected" => "false",label:"ベビー・キッズ",value:"3"} ベビー・キッズ
            %option{"aria-selected" => "false",label:"インテリア・住まい・小物",value:"4"} インテリア・住まい・小物
            %option{"aria-selected" => "false",label:"本・音楽・ゲーム",value:"5"} 本・音楽・ゲーム
            %option{"aria-selected" => "false",label:"おもちゃ・ホビー・グッズ",value:"1328"} おもちゃ・ホビー・グッズ
            %option{"aria-selected" => "false",label:"コスメ・香水・美容",value:"6"} コスメ・香水・美容
            %option{"aria-selected" => "false",label:"家電・スマホ・カメラ",value:"7"} 家電・スマホ・カメラ
            %option{"aria-selected" => "false",label:"スポーツ・レジャー",value:"8"} スポーツ・レジャー
            %option{"aria-selected" => "false",label:"ハンドメイド",value:"9"} ハンドメイド
            %option{"aria-selected" => "false",label:"チケット",value:"1027"} チケット
            %option{"aria-selected" => "false",label:"自動車・オートバイ",value:"1318"} 自動車・オートバイ
            %option{"aria-selected" => "false",label:"その他",value:"10"} その他
            %svg{"aria-hidden" => "true",fill:"#888888", "fill-rule" => "evenodd",height:"24",viewbox:"0 0 24 24",width:"24"}
        
        .product-detail-form--name
          ブランド
        .product-detail-form--ninni
          任意
        %input.name-form{autocomplete:"off",name:"brandName",placeholder:"例）シャネル",type:"text",value:""}/
        .product-detail-form--name
          商品の状態
        .product-detail-form--hissu
          必須
        .product-detail-form--tab
          %select{name:"itemCondition"}
            %option{"aria-selected" => "true",label:"選択してください",selected:"selected",value:""} 選択してください
            %option{"aria-selected" => "false",label:"新品、未使用",value:"1"} 新品、未使用
            %option{"aria-selected" => "false",label:"未使用に近い",value:"2"} 未使用に近い
            %option{"aria-selected" => "false",label:"目立った傷や汚れなし",value:"3"} 目立った傷や汚れなし
            %option{"aria-selected" => "false",label:"やや傷や汚れあり",value:"4"} やや傷や汚れあり
            %option{"aria-selected" => "false",label:"傷や汚れあり",value:"5"} 傷や汚れあり
            %option{"aria-selected" => "false",label:"全体的に状態が悪い",value:"6"} 全体的に状態が悪い
    
    .production-delivery
      .production-delivery-form
        .production-delivery-form--exp
          配送について
        .production-delivery-form--black
          配送料の負担
        .production-delivery-form--hissu
          必須
        .production-delivery-form--tab
          %select{name:"shippingPayer"}
            %option{"aria-selected" => "true",label:"選択してください",selected:"selected",value:""} 選択してください
            %option{"aria-selected" => "false",label:"送料込み(出品者負担)",value:"2"} 送料込み(出品者負担)
            %option{"aria-selected" => "false",label:"着払い(購入者負担)",value:"1"} 着払い(購入者負担)
        .production-delivery-form--black
          発送元の地域
        .production-delivery-form--hissu
          必須
        .production-delivery-form--tab
          %select{name:"shippingarea"}
            %option{"aria-selected" => "true",label:"選択してください",selected:"selected",value:""} 選択してください
            %option{"aria-selected" => "false",label:"北海道",value:"2"} 北海道
            %option{"aria-selected" => "false",label:"東北",value:"1"} 東北
        .production-delivery-form--black
          発送までの日数
        .production-delivery-form--hissu
          必須
        .production-delivery-form--tab
          %select{name:"shippingday"}
            %option{"day-selected" => "true",label:"選択してください",selected:"selected",value:""} 選択してください
            %option{"day-selected" => "false",label:"1~2日",value:"2"} 1~2日
            %option{"day-selected" => "false",label:"3~4日",value:"1"} 3~4日
    
    .production-price
      .production-price-header
        価格（¥300〜9,999,999）
      .production-price--black
        販売価格
      .production-price--hissu
        必須
      .production-price--mark
        ¥
      %input.priceform{autocomplete:"off",name:"price",placeholder:"0",type:"number",value:""}/
      
      .production-price-commision
        販売手数料（10%）
        .production-price-commision--charge
          ¥
      .production-price-profit
        販売利益     
        .production-price-profit--charge
          ¥
    .decideform
      %button.decideform-sellicon{tabindex:"0",type:"submit"} 出品する
      %button.decideform-returnicon{tabindex:"0",type:"submit"} もどる
      .decideform-alert
        禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
  .fmarket_logo
    =image_tag "#{asset_path "fmarket_logo.png"}",size: '185x55',alt:"fmarket"


