.product-page{
  background-color: lightgreen;
  width: 100%;
  height: 100%;
}

.fmarket_logo{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}


.sellcontents{
  width: 700px;
  height: 2170px;
  margin:  0 auto;
  position: relative;
  background-color: white;
  margin-top: 20px;
  .sellcontents-pict{
    height: 450px;
    .sellcontents-pict-form{
      position: relative;
      width: 600px;
      height: 220px;
      margin:  0 auto;
      top: 40px;
      &--name{
      font-size: 16px;
      font-weight: 600;
      line-height: 1.4em;
      display: inline-block;
      }
      &--hissu{
        margin-left: 8px;
        font-size: 16px;
        background-color: #ff0211;
        color: white;
        width: 34px;
        font-weight: 600;
        display: inline-block;
      }
      &--upload{
        margin-top: 10px;
      }
      .form-file{
        width: 600px;
        height: 220px;
        display: inline-block;
        background-color: lightslategray;
        .dropzone-container{
          display: flex;
          #preview{
            display: flex;
            .img_view {
              height: 162px;
              width: 112px;
              margin: 0 15px 10px 0;
              .js-file{
                display: none;
              }
                img{
                  width: 112px;
                  height: 112px;
                }
              }
          } 
        }
        #image-box {
          .js-remove{
            width: 140px;
          }
          .js-file_group{
            .js-file{
            display: inline-block;
            }
            .js-remove{
              display: inline-block;
              width: 140px;
            }
            .hidden-destroy{
              display: none;
            }
          }
          
        }
     }
    }
  }
  .product-status{
    height: 400px;
    .product-status-nameform{
      width: 620px;
      height: 120px;
      margin:  0 auto;
      top: 30px;
      &--name{
        font-weight: 600;
        line-height: 1.4em;
        display: inline-block;
        }
      &--hissu{
        margin-left: 8px;
        font-size: 16px;
        background-color: #ff0211;
        color: white;
        width: 34px;
        font-weight: 600;
        display: inline-block;
       }
      .name-form{
        display:block;
        margin-top:15px;
        border-radius: 4px;
        height: 48px;
        width: 600px;
        box-sizing: border-box;
        border: 1px solid #ccc;
      }
    }
    .product-status-textform{
      width: 620px;
      height: 240px;
      margin:  0 auto;
      .statusform{
        display:block;
        width: 600px;
        margin-top:20px;
        border-radius: 4px;
        outline: none;
        border: 1px solid #ccc;
        box-sizing: border-box;
        height: 200px;
      }
    }
  }
  
  .product-detail{
    height: 390px;
    padding-top: 40px;
    .product-detail-form{
      height: 360px;
      margin:  0 auto;
      width: 620px;
      &--head{
        font-weight: 600;
        line-height: 1.4em;
        padding-bottom: 25px;
        color: gray;
        display: block;
        
      }
      &--name{
        font-weight: 600;
        line-height: 1.4em;
        display: inline-block;
        padding-bottom: 15px;
      }
      &--hissu{
        margin-left: 8px;
        font-size: 16px;
        background-color: #ff0211;
        color: white;
        width: 34px;
        font-weight: 600;
        display: inline-block;
      }
      &--tab{
        position: relative;
        margin-bottom: 35px;
        select{
          width: 600px;
          height: 48px;
          border: 1px solid #ccc;
          border-radius: 4px;
          color: black;
        }
      }
      &--ninni{
        margin-left: 8px;
        font-size: 16px;
        background-color: gray;
        color: white;
        width: 34px;
        font-weight: 600;
        display: inline-block;
      }
      .name-form{
        display:block;
        border-radius: 4px;
        height: 48px;
        width: 600px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        margin-bottom: 35px;
      }
    }
  }
  .production-delivery{
    height: 450px;
    padding-top: 60px;
    .production-delivery-form{
      width: 620px;
      height: 380px;
      margin:  0 auto;
      background-color: white;
      &--exp{
        font-weight: 600;
        line-height: 1.4em;
        padding-bottom: 25px;
        color: gray;
        display: block;
      }
      &--black{
        font-weight: 600;
        line-height: 1.4em;
        display: inline-block;
        padding-bottom: 15px;
      }
      &--hissu{
        margin-left: 8px;
        font-size: 16px;
        background-color: #ff0211;
        color: white;
        width: 34px;
        font-weight: 600;
        display: inline-block;
      }
      &--tab{
        position: relative;
        margin-bottom: 35px;
        select{
          width: 600px;
          height: 48px;
          border: 1px solid #ccc;
          border-radius: 4px;
          color: black;
        }
      }
    }
  }
  .production-price{
    width: 620px;
    margin: 0 auto;
    .production-price-header{
    padding-top: 55px;
    color: gray;
    }
    &--black{
      font-weight: 600;
      line-height: 1.4em;
      padding-top: 35px;
      padding-bottom: 55px;
      color:black;
      display: inline-block;
    }
    &--hissu{
      margin-left: 8px;
      font-size: 16px;
      background-color: #ff0211;
      color: white;
      width: 34px;
      font-weight: 600;
      display: inline-block;
    }
    &--mark{
      padding-left: 200px;
      display: inline-block;
    }
    .price-form{
      height: 44px;
      width: 265px;
      border-radius: 4px;
      border: 1px solid #ccc;
      text-align: right;
    }
    .production-price-commision{
      color: gray;
      padding-bottom: 35px;
      &--charge{
        display: inline-block;
        padding-left: 164px;
      }
    }
    
    .production-price-profit{
      color: gray;
      margin-bottom: 65px;
      &--charge{
        display: inline-block;
        padding-left: 248px;
      }
    }
  }
  .decideform{
    width: 620px;
    height: 300px;
    margin: 0 auto;
    .red-btn{
      margin-left: 170px;
      background-color: #ea352d;
      color: #fff;
      text-align: center;
      font-size: 17px;
      min-height: 48px;
      font-weight: 600;
      margin-bottom: 25px;
      border-radius: 4px;
      width: 300px;
      display: block;
    }
    .gray-btn{
      margin-left: 170px;
      padding-top: 11px;
      background-color: #cccccc;
      color:black;
      text-align: center;
      font-size: 17px;
      min-height: 48px;
      font-weight: 600;
      margin-bottom: 25px;
      border-radius: 4px;
      width: 300px;
      display: block;
      text-decoration: none;
    }
    .decideform-alert{
      font-size: 12px;
      color: gray;
    }
  }
}

.content{
  display: inline-block;
  margin-left: 20px;



  .productimage{
    padding-top: 30px;
    width: 200px;
    height: 218px;
    position: absolute;
  }

  .productbox-price{
    align-items: center;
    padding-left: 7px;
    position: relative;
    background: rgba(0,0,0,.4);
    border-radius: 0 14px 14px 0;
    font-size: 17px;
    color: white;
    height: 28px;
    width: 115px;
    top: 170px;
  }

  .product-textform{
    overflow: hidden;
    margin-top: 190px;
    width: 200px;
    height: 75px;
    background-color: white;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
    .productbox-name{
      padding-top: 5px;
      padding-left: 5px;
      color: black;
    }
  }
}