.footer-sold-box 
  %ul.footer-sold-box-content
    %li.footer-sold-box-content__list
      %a プライバシーポリシー
    %li.footer-sold-box-content__list
      %a メルカリ利用規約
    %li.footer-sold-box-content__list
      %a 特定商取引に関する表記
  .footer-sold-box-content__icon
    =image_tag "fmarket_logo_white.png",alt:"fmarket"